body{
	background:url("../img/white_texture.png") repeat;
	background-attachment:fixed;
	

}
#nav-top{
	background: url("../img/nav-bg.png") repeat-x scroll 0 0 transparent;
    height: 180px;
    position: absolute;
    width: 100%;
    z-index: -1;
	margin-bottom:250px;
	top: 0;
}
img.logo{
	    left: 25px;
    position: relative;
    top: 0;
}
.btn-right{
	right:0;
	float:right;
	background:#e5e5e5;
	padding: 0 5px 8px 0;
	border-radius:5px;
	box-shadow: 0 1px 0 #fff;
	margin-top:10px;
}
.slider-nest{
/* 	padding-top:-25px;
	margin-bottom:25px; */

	padding:10px;
	border-radius:5px;
	margin-bottom:15px;
	border: 1px solid #ddd;
	box-shadow: 0 4px 0 #bbb;
	
	background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;

}
/* =================
    SIDEBAR 
 ==================*/
.scroll {
	float: left; 
	width: 21%; 
	padding: 0; 
	margin-left: 4%; 
	margin-top: 40px; 
/* 	border: 2px solid red; 
	background-color: #FFEEEE; */
}
.side-bar{

	border: 1px solid #ccc;
	box-shadow: 0 4px 0 #ccc;
	padding:5px;
	border-radius:5px;
	max-height:500px;
	overflow:auto;

	background-color: #f5f5f5;
    *background-color: #eeeeee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
	background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-repeat: repeat-x;
}
.topnav {
	padding: 40px 28px 25px 0;
}
img.icon-menu{
	margin-right:4px;
	margin-top:3px;
}
ul.topnav {
	margin: 0;
	font-size: 14px;
	line-height: 0.5em!important;
	list-style: none!important;
	background:none repeat scroll 0 0 #E5E5E5;
	padding:0;
	border-radius:5px;
	box-shadow: 0 1px 0 #fff;
	
}

ul.topnav li {}

ul.topnav li a {
	line-height: 10px;
	font-size: 13px;
	padding: 10px 5px;
	color: #000;
	display: block;
	text-decoration: none;
	list-style:none;
	background-color: #ECECEC;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #FFFFFF;
    text-shadow: 1px 1px 0 #FFFFFF;
	
}

ul.topnav li a:hover {
	background-color:#00B6ED;
	color:white;
	text-shadow: none;
}

ul.topnav ul {
	margin: 0;
	padding: 0;
	display: none;
}

ul.topnav ul li {
	margin: 0;
	padding: 0;
	clear: both;
	list-style:none outside none;
}

ul.topnav ul li a {
	border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    outline: 0 none;
    padding-left: 35px;
	background:#ddd;
}

ul.topnav ul li a:hover {
	background-color:#9FBD3B;
	color:#333333;
}

ul.topnav ul ul li a {
	color:#444;
	padding-left: 40px;
	background:#c8c8c8;
}

ul.topnav ul ul li a:hover {
	background-color:#D3CEB8;
	color:#675C7C;
}

ul.topnav span{
	float:right;
}


.nest-bg {
/* 	background: rgba( 255, 255, 255, 0.4);
    border: 1px solid #CCCCCC;
    padding: 10px;
	border-radius:5px; */
	margin-top: 40px;
}
.dahboard-gauge{
	background:#fff;
	padding:5px;
	border-radius:3px;
	margin:25px 0 0 0;
	border:1px solid #ccc;
	position:relative;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.dahboard-gauge:after, .dahboard-gauge:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    bottom: -3px;
    content: "";
    display: block;
    height: 1px;
    left: 3px;
    position: absolute;
    right: 3px;
	border-radius: 0 0 3px 3px;
}
.dahboard-gauge:before {
    bottom: -5px;
    left: 6px;
    right: 6px;
}
   /* =============
        CONTENT
        ================*/
.nest {
    /*  background: url("../img/nest-bg.png") repeat scroll 0 0 #f8f8f8; */
	background:none repeat scroll 0 0 #fff;
    border: 1px solid #CDCDCD;
    clear: both;
    margin-top: 20px;
    border-radius:5px;
	position:relative;
	


}
.nest:after, .nest:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    bottom: -3px;
    content: "";
    display: block;
    height: 1px;
    left: 3px;
    position: absolute;
    right: 3px;
	border-radius: 0 0 3px 3px;
	
	
}
.nest:before {
    bottom: -5px;
    left: 6px;
    right: 6px;
	
}
.nest, .middleNav, .sItem, .statsDetailed {
    box-shadow: 0 1px 0 #FFFFFF;
}
.nest .title {
  /*   background: url("../img/nest-head-bg.png") repeat-x scroll 0 0 #EFEFEF;  */
    border-bottom: 3px double #CDCDCD;
    height: 36px;
    box-shadow: 0 1px 0 #FFFFFF;
	border-radius: 5px 5px 0 0;
	background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
}
.nest .title h6 {
    float: left;
    font-size: 13px;
    font-weight: normal;
    padding: 0 12px 0;
    text-shadow: 1px 1px 0 #FFFFFF;
    color:#555555;
	line-height:none;
	position:relative;
	top:-3px;
}
.slidder-bar-nest{	
	padding: 15px;
	margin-bottom:30px;
}
    .nest .title .titleIcon {
        background: url("../img/nest-bg.png") repeat scroll 0 0 transparent;
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-radius: 0 0 3px 3px;
        border-right: 1px solid #CCCCCC;
        box-shadow: 0 1px 0 #FFFFFF;
        float: left;
        height: 16px;
        margin: 0 0 0 15px;
        padding: 9px 9px 5px;
        width: 16px;
    }
    .body-nest{
    	padding:15px;
				
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 0 5px 5px #ccc;

    }
	
    img.sidebar-icon{
    	margin: 0 6px 0 0;
		float:left;
    }
 #g1, #g2, #g3, #g4, #g5, #g6 {
        width:120px; height:80px;
        display: inline-block;
        margin-left: 0px;
		float:left;
		margin-right: 5%;
}

.gauge-tittle{
	margin-top:25px;
	color:#555;
	margin-left: 50px;
	text-transform:uppercase;
}
.gauge-subtittle{
	margin-top:-5px;
	margin-left: 10px;
	color:#000;
	font-size:24px;
	float:right;
	border-radius:5px;
	padding: 0 4px 0 4px;
	background:#f7f7f7;
}
.gauge-subtittle span{
	color:#ccc;
	font-size:12px;
	background:none;
	margin-top:-15px;
}
.footer-fluid {
  margin-right: auto;
  margin-left: auto;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid #CCCCCC;
    padding: 15px;
	margin-top: 10px;
	border-radius:5px;
	position:relative;

	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
/*   padding-right: 20px;
  padding-left: 20px; */
  *zoom: 1;
}
