
.row-fluid .nest-content {
    width: 74.359%;
}
.row-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.5641%;
    min-height: 30px;
    width: 100%;
}
.row-fluid .nest-content {
    width: 74.4681%;
}
.row-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.12766%;
    min-height: 30px;
    width: 100%;
}
.nest-content {
    width: 870px;
}
[class*="span"] {
    float: left;
    margin-left: 30px;
    min-height: 1px;
}
.nest-content {
    width: 700px;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
    min-height: 1px;
}